.button {
    border-radius: 10px;
    margin: 5px;
    outline: none;
    border: 0;
    padding: 4px;
}

.button:hover {
    opacity: 0.8;
}

.container {
    display: flex;
}

.text {
    width: 50%;
    margin: auto;
}

.question {
    text-align: center;
    font-style: italic;
}

.buttonsContainer {
    margin: auto;
}

.correlationContainer {
    display: flex;
    flex-direction: column;
}