.graphTitle {
    text-align: center;
    text-transform: capitalize;
}

.circle:hover {
    fill: black !important;
}

.graph {
    width: fit-content;
    margin: auto;
}

.buttonContainer {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.button {
    border-radius: 10px;
    margin: 5px;
}