@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 125px;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin-top: 0;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333;
}

button {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100vw;
    height: 100vh;
}

.section {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}