.axis {
    opacity: 0.4;
    transition: all 0.2s;
    stroke-width: 1px;
}

.axis:hover {
    opacity: 1;
}

.path {
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    stroke-linecap: round;
}

.hover {
    position: absolute;
    background: white;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
}