.node text {
    font: 5px sans-serif;
}

div.tooltip {
    background: white;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.tooltip p {
    margin: 0px;
}

.container {
    display: flex;
}

.button {
    border-radius: 10px;
    margin: 5px;
    outline: none;
    border: 0;
    padding: 4px;
}

.button:hover {
    opacity: 0.8;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}