.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


.play {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.play:hover {
    transform: scale(1.15);
}

.year {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    cursor: pointer;
    outline: none;
}

input[type="range"] {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: purple;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: purple;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: -407px 0 0 400px rgb(179, 143, 186);
}

input[type="range"]::-moz-range-thumb {
    box-shadow: -407px 0 0 400px rgb(192, 113, 192);
}

input[type="range"] {
    overflow: hidden;
    border-radius: 16px;
}